---
import Layout from "@layouts/Layout.astro";
import "@styles/pages/services/homeServices.css";
import "@styles/pages/reviews.css";

import { Image } from "astro:assets";
import photoFace from "@assets/img/generic/face.png";
---

<Layout>
    <main class={`t-100vh t-padding-header main-reviews-page`}>
        <h1 class={`t-page-titles reviews-title-page`}>COMENTARIOS</h1>
        <h4 class={`service-subtitle`}>
            Algunos de los comentarios de nuestros clientes
        </h4>

        <section class="review-container">
            <div class="swiper mySwiper-reviews">
                <div class="swiper-wrapper swiper-wrapper-reviews">
                    <div class="swiper-slide slide-reviews">
                        <div class={`card-review`}>
                            <div class={`card-header`}>
                                <figure>
                                    <Image
                                        src={photoFace}
                                        alt="Imagen representativa de un cliente"
                                        loading="lazy"
                                    />
                                </figure>
                                <div>
                                    <p class={`card-service-name`}>Bodas</p>
                                    <p class={`card-service-user`}>
                                        Roberto goméz bolaños
                                    </p>
                                </div>
                            </div>
                            <div class={`card-body`}>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Perspiciatis unde dolore
                                    quam, dolorum repellendus eum aspernatur quo
                                    omnis debitis sit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-reviews">
                        <div class={`card-review`}>
                            <div class={`card-header`}>
                                <figure>
                                    <Image
                                        src={photoFace}
                                        alt="Imagen representativa de un cliente"
                                        loading="lazy"
                                    />
                                </figure>
                                <div>
                                    <p class={`card-service-name`}>Bodas</p>
                                    <p class={`card-service-user`}>
                                        Roberto goméz bolaños
                                    </p>
                                </div>
                            </div>
                            <div class={`card-body`}>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Perspiciatis unde dolore
                                    quam, dolorum repellendus eum aspernatur quo
                                    omnis debitis sit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-reviews">
                        <div class={`card-review`}>
                            <div class={`card-header`}>
                                <figure>
                                    <Image
                                        src={photoFace}
                                        alt="Imagen representativa de un cliente"
                                        loading="lazy"
                                    />
                                </figure>
                                <div>
                                    <p class={`card-service-name`}>Bodas</p>
                                    <p class={`card-service-user`}>
                                        Roberto goméz bolaños
                                    </p>
                                </div>
                            </div>
                            <div class={`card-body`}>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Perspiciatis unde dolore
                                    quam, dolorum repellendus eum aspernatur quo
                                    omnis debitis sit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-reviews">
                        <div class={`card-review`}>
                            <div class={`card-header`}>
                                <figure>
                                    <Image
                                        src={photoFace}
                                        alt="Imagen representativa de un cliente"
                                        loading="lazy"
                                    />
                                </figure>
                                <div>
                                    <p class={`card-service-name`}>Bodas</p>
                                    <p class={`card-service-user`}>
                                        Roberto goméz bolaños
                                    </p>
                                </div>
                            </div>
                            <div class={`card-body`}>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Perspiciatis unde dolore
                                    quam, dolorum repellendus eum aspernatur quo
                                    omnis debitis sit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-reviews">
                        <div class={`card-review`}>
                            <div class={`card-header`}>
                                <figure>
                                    <Image
                                        src={photoFace}
                                        alt="Imagen representativa de un cliente"
                                        loading="lazy"
                                    />
                                </figure>
                                <div>
                                    <p class={`card-service-name`}>Bodas</p>
                                    <p class={`card-service-user`}>
                                        Roberto goméz bolaños
                                    </p>
                                </div>
                            </div>
                            <div class={`card-body`}>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Perspiciatis unde dolore
                                    quam, dolorum repellendus eum aspernatur quo
                                    omnis debitis sit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-reviews">
                        <div class={`card-review`}>
                            <div class={`card-header`}>
                                <figure>
                                    <Image
                                        src={photoFace}
                                        alt="Imagen representativa de un cliente"
                                        loading="lazy"
                                    />
                                </figure>
                                <div>
                                    <p class={`card-service-name`}>Bodas</p>
                                    <p class={`card-service-user`}>
                                        Roberto goméz bolaños
                                    </p>
                                </div>
                            </div>
                            <div class={`card-body`}>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Perspiciatis unde dolore
                                    quam, dolorum repellendus eum aspernatur quo
                                    omnis debitis sit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-reviews">
                        <div class={`card-review`}>
                            <div class={`card-header`}>
                                <figure>
                                    <Image
                                        src={photoFace}
                                        alt="Imagen representativa de un cliente"
                                        loading="lazy"
                                    />
                                </figure>
                                <div>
                                    <p class={`card-service-name`}>Bodas</p>
                                    <p class={`card-service-user`}>
                                        Roberto goméz bolaños
                                    </p>
                                </div>
                            </div>
                            <div class={`card-body`}>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Perspiciatis unde dolore
                                    quam, dolorum repellendus eum aspernatur quo
                                    omnis debitis sit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-reviews">
                        <div class={`card-review`}>
                            <div class={`card-header`}>
                                <figure>
                                    <Image
                                        src={photoFace}
                                        alt="Imagen representativa de un cliente"
                                        loading="lazy"
                                    />
                                </figure>
                                <div>
                                    <p class={`card-service-name`}>Bodas</p>
                                    <p class={`card-service-user`}>
                                        Roberto goméz bolaños
                                    </p>
                                </div>
                            </div>
                            <div class={`card-body`}>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Perspiciatis unde dolore
                                    quam, dolorum repellendus eum aspernatur quo
                                    omnis debitis sit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-reviews"></div>
            </div>
        </section>
    </main>
</Layout>

<script>
    import Swiper from "swiper/bundle";

    const swiper = new Swiper(".mySwiper-reviews", {
        // direction: "vertical",
        effect: "slide",
        fadeEffect: {
            crossFade: true,
        },
        loop: true,

        autoplay: {
            delay: 250000,
        },

        breakpoints: {
            640: {
                slidesPerView: 2,
                spaceBetween: 40,
                grid: {
                    rows: 2,
                    fill: "row",
                },
            },
            1024: {
                slidesPerView: 2,
                spaceBetween: 40,
                grid: {
                    rows: 2,
                    fill: "row",
                },
            },
        },
        // If we need pagination
        pagination: {
            el: ".swiper-pagination-reviews",
            clickable: true,
        },

        // Navigation arrows
        // navigation: {
        //   nextEl: '.swiper-button-next',
        //   prevEl: '.swiper-button-prev',
        // },

        // And if we need scrollbar
        // scrollbar: {
        //   el: ".swiper-scrollbar",
        // },
    });
</script>
