---
import "@styles/components/footer.css";
import logoImg from "@assets/img/generic/logo-white.png";
import facebookImg from "@assets/img/generic/facebook.png";
import twitterImg from "@assets/img/generic/twitter.png";
import instagramImg from "@assets/img/generic/instagram.png";
import tiktokImg from "@assets/img/generic/tiktok.png";
import { Image } from "astro:assets";
---

<footer>
    <div class="footer-info">
        <figure class="footer-logo" data-aos="fade-left">
            <Image
                src={logoImg}
                width={250}
                height={100}
                alt="imagen del logitipo en footer"
                loading="lazy"
            />
        </figure>

        <p class="footer-bann">Visita nuestras redes sociales</p>

        <ul class="footer-social">
            <li>
                <a
                    href="https://www.facebook.com/tu-usuario"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Ir a nuestra página de Facebook"
                >
                    <Image
                        src={facebookImg}
                        alt="Facebook"
                        width={32}
                        height={32}
                        loading="lazy"
                    />
                </a>
            </li>
            <li>
                <a
                    href="https://www.instagram.com/tu-usuario"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Ir a nuestra página de Instagram"
                >
                    <Image
                        loading="lazy"
                        src={instagramImg}
                        alt="Instagram"
                        width={32}
                        height={32}
                    />
                </a>
            </li>
            <li>
                <a
                    href="https://www.twitter.com/tu-usuario"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Ir a nuestro perfil de Twitter/X"
                >
                    <Image
                        loading="lazy"
                        src={twitterImg}
                        alt="Twitter"
                        width={32}
                        height={32}
                    />
                </a>
            </li>
            <li>
                <a
                    href="https://www.tiktok.com/@tu-usuario"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Ir a nuestro perfil de TikTok"
                >
                    <Image
                        loading="lazy"
                        src={tiktokImg}
                        alt="TikTok"
                        width={32}
                        height={32}
                    />
                </a>
            </li>
        </ul>
    </div>

    <div class="copy">
        <p class="copy-reserved">
            &copy; 2024 Trinidad Photo Studio. All rights reserved.
        </p>
        <nav class="copy-politics">
            <ul>
                <li><a href="/aviso-legal">Aviso legal</a></li>
                <li><a href="/cookies">Política de cookies</a></li>
                <li><a href="/privacidad">Política de privacidad</a></li>
            </ul>
        </nav>
    </div>
</footer>
