---
import Layout from "@layouts/Layout.astro";
import "@styles/layout/layoutServices.css";

interface Props {
    pageTitle: string;
    heroImage: string;
    bannerTitle: string;
    bannerSubtitle: string;
}

const { pageTitle, heroImage, bannerTitle, bannerSubtitle } = Astro.props;
---

<Layout>
    <section class="hero-services">
        <figure class="hero-services__figure">
            <img
                src={heroImage}
                alt="Imagen ilustrativa de la sección del servicio"
            />
            <figcaption data-aos="fade-right">
                <p><a href="/services">Servicios</a> &gt; {pageTitle}</p>
            </figcaption>
        </figure>
    </section>

    <div class="banner-services">
        <h2>{pageTitle}</h2>
    </div>
    <figure class="banner-figure">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 70 1440 310"
            ><path
                fill="#a9bdcf"
                fill-opacity="1"
                d="M0,192L720,96L1440,192L1440,0L720,0L0,0Z"></path></svg
        >
    </figure>
    <main class="main-services t-100vh">
        <h3 class="main-services__title" data-aos="fade-right">
            {bannerTitle}
        </h3>
        <p class="main-services__subtitle" data-aos="fade-left">
            {bannerSubtitle}
        </p>

        <slot />
    </main>
</Layout>

<script>
    import GLightbox from "glightbox";
    import "glightbox/dist/css/glightbox.css";
    import Swiper from "swiper/bundle";

    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        grid: {
            rows: 2,
        },
        spaceBetween: 30,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });

    const lightbox = GLightbox({ selector: ".glightbox" });
    const lightbox2 = GLightbox({ selector: ".glightbox-pets" });
</script>
